mtp:
  processor:
    cassandra:
      hosts: localhost
    spark:
      master: local[10]
      cassandraHosts: localhost
      batchInterval: 10000
      checkpointDir: /tmp
    kafkaServer:
      host: localhost    
      advertisedHost: localhost
    zookeeper:
      connect: localhost:2181
    cfRate:
      serviceUrl: http://localhost:8080/test/rates
